{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - show_quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}

{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  <div class='products-card card-hover'>
    <a href="{{ card_product.url }}" class='card_products-card__img card-hover__img'>
        <img src='{{ card_product.featured_image.src | img_url: 'large' }}' alt='image' class='imgFluid' loading="lazy">
    </a>
    <div class='products-card__content'>
        <div class="category">{{ card_product.type }}</div>
        <div class="title"><a href="{{ card_product.url }}">{{ card_product.title }}</a></div>

        <div class="price">{{ card_product.price | money }}</div>

        <div class="d-flex justify-content-center m-0 mb-3 varition-btn">
            <a href="#" style="background-color: #FAB528;"></a>
            <a href="#" style="background-color: #FC043A;"></a>
            <a href="#" style="background-color: #223F9A;"></a>
            <a href="#" style="background-color: #D9D9D9;"></a>
            <a href="#" style="background-color: #044343;"></a>
            <a href="#" style="background-color: #222222;"></a>
        </div>
        <a href="{{ card_product.url }}" class="add">Add</a>
    </div>
</div>
{%- endif -%}
