
<div class="contact mar-y">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-12 col-lg-9">
                <div class="section-content text-center">
                    <h3 class="heading text-uppercase">Get In Touch</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              {%- form 'contact', id: 'ContactForm', class: 'contact-form' -%}
                {%- if form.posted_successfully? -%}
                  <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
                    {% render 'icon-success' %}
                    {{ 'templates.contact.form.post_success' | t }}
                  </h2>
                {%- elsif form.errors -%}
                  <div class="form__message">
                    <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                      {% render 'icon-error' %}
                      {{ 'templates.contact.form.error_heading' | t }}
                    </h2>
                  </div>
                  <ul class="form-status-list caption-large" role="list">
                    <li>
                      <a href="#ContactForm-email" class="link">
                        {{ form.errors.translated_fields.email | capitalize }}
                        {{ form.errors.messages.email }}
                      </a>
                    </li>
                  </ul>
                {%- endif -%}
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <div class="contact-form__fields">
                      <input
                        class="field__input"
                        autocomplete="name"
                        type="text"
                        id="ContactForm-name"
                        name="contact[{{ 'templates.contact.form.name' | t }}]"
                        value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                        placeholder="{{ 'templates.contact.form.name' | t }}"
                      >
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="contact-form__fields">
                      <select class="field__input" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]">
                        <option value="">Please select</option>
                        <option value="option1" {% if form.name == 'option1' %}selected{% endif %}>Option 1</option>
                        <option value="option2" {% if form.name == 'option2' %}selected{% endif %}>Option 2</option>
                        <option value="option3" {% if form.name == 'option3' %}selected{% endif %}>Option 3</option>
                      </select>
                    </div>

                  </div>
                  <div class="col-12 col-lg-6">
                    <div class="contact-form__fields field--with-error">
                      <input
                        autocomplete="email"
                        type="email"
                        id="ContactForm-email"
                        class="field__input"
                        name="contact[email]"
                        spellcheck="false"
                        autocapitalize="off"
                        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                        aria-required="true"
                        {% if form.errors contains 'email' %}
                          aria-invalid="true"
                          aria-describedby="ContactForm-email-error"
                        {% endif %}
                        placeholder="{{ 'templates.contact.form.email' | t }}"
                      >
            
                      {%- if form.errors contains 'email' -%}
                        <small class="contact__field-error" id="ContactForm-email-error">
                          <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                          <span class="form__message">
                            {%- render 'icon-error' -%}
                            {{- form.errors.translated_fields.email | capitalize }}
                            {{ form.errors.messages.email -}}
                          </span>
                        </small>
                      {%- endif -%}
                    </div>

                  </div>

                </div>
                <div class="col-12 col-lg-6">
                  <div class="contact-form__fields">
                    <input
                      type="tel"
                      id="ContactForm-phone"
                      class="field__input"
                      autocomplete="tel"
                      name="contact[{{ 'templates.contact.form.phone' | t }}]"
                      pattern="[0-9\-]*"
                      value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                      placeholder="{{ 'templates.contact.form.phone' | t }}"
                    >
                  </div>

                </div>
                <div class="col-12 col-lg-12">
                  <div class="contact-form__fields">
                    <textarea
                      rows="10"
                      id="ContactForm-body"
                      class="text-area field__input"
                      name="contact[{{ 'templates.contact.form.comment' | t }}]"
                      placeholder="{{ 'templates.contact.form.comment' | t }}"
                    >
                      {{- form.body -}}
                    </textarea>
                  </div>

                </div>
                <div class="col-12 col-lg-12">
                  <div class="contact-form__fields">
                    <button type="submit" class="themeBtn themeBtn--full justify-content-center">
                      {{ 'templates.contact.form.send' | t }}
                    </button>
                  </div>

                </div>

              {%- endform -%}
            </div>
            <div class="col-12 col-lg-10">
                <form action="#" class="contact-form">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="contact-form__fields">
                                <input type="text" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="contact-form__fields">
                                <select>
                                    <option value="Choose Our Service">Choose Our Service</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="contact-form__fields">
                                <input type="email" placeholder="Email Address ">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="contact-form__fields">
                                <input type="text" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="contact-form__fields">
                                <textarea rows="4" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="contact-form__fields">
                                <button type="submit" class="themeBtn themeBtn--full justify-content-center">Submit Now</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    


{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
