<div class='products mb-5 pb-5'>
    <div class='container'>
        <div class='row justify-content-center mb-4'>
            <div class='col-lg-10'>
                <div class='section-content text-center'>
                    <h3 class='heading'>{{ section.settings.title }}</h3>
                </div>
            </div>
        </div>
        <div class='row productSlider'>

        {% assign selected_collection = section.settings.collection %}
        {% for product in collections[selected_collection].products limit: 10 %}
            <div class='col-lg-3'>
                <div class='products-card card-hover'>

                  
                  {% if product.compare_at_price > product.price %}
                    {% if product.available %}
                      <span class="out-of-stock sale">Sale</span>
                    {% else %}
                      <span class="out-of-stock">SOLD OUT</span>
                    {% endif %}
                  {% elsif product.available == false %}
                    <span class="out-of-stock">SOLD OUT</span>
                {% endif %}

                    <a href="{{ product.url }}" class='products-card__img card-hover__img'>
                        <img src='{{ product.featured_image.src | img_url: 'large' }}' alt='image' class='imgFluid' loading="lazy">
                    </a>
                    <div class='products-card__content'>
                      {% comment %}  
                      <div class="category"> {% if product.type != blank %} {{ product.type }} {% else %} Product {% endif %}</div>
                      {% endcomment %}  
                        <div class="title"><a href="{{ product.url }}">{{ product.title }}</a></div>

                        
                      
                      {% if product.compare_at_price > product.price %}
                        <div class="price price--on-sale">
                          <span class="price--regular">test{{ product.compare_at_price | money }}</span>
                          <span class="price--sale">test{{ product.price | money }}</span>
                        </div>
                      {% else %}
                        <div class="price">{{ product.price | money }}</div>
                      {% endif %}



  
    
                        {% assign color_option = '' %}
                        {% for option in product.options_with_values %}
                          {% if option.name contains 'Color' %}
                            {% assign color_option = option %}
                          {% endif %}
                        {% endfor %}

          

                        {% if color_option %}
                        <div class="d-flex justify-content-center m-0 mb-3 varition-btn">
                            {% for value in color_option.values %}
                              <a href="javascript:void(0)" style="background-color: {{ value }};"></a>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <a href="{{ product.url }}" class="add">{% if product.available == false %}View{% else %}Add{% endif %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}



        </div>
    </div>
</div>


{% schema %}
    {
      "name": "Cus Product Sec",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
        "type": "text",
        "id": "title",
        "default": "Collections",
        "label": "Title"
        }, 
        {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured-collection.settings.collection.label"
        }
    ],

    "presets": [
        {
          "name": "Cus Product Sec"
        }
      ]
    }
    {% endschema %}