<div class='about mar-y py-5'>
    <div class='container p-0'>
        <div class='row no-guttera'>
            <div class='col-12 col-lg-7'>
                <div class='about__img about__img--md'>
                    <img src='{{ section.settings.image | img_url: 'master' }}' alt='image' class='imgFluid'>
                </div>
            </div>

            <div class='col-12 col-lg-5'>
                <div class='about__content about__content--box'>
                    <div class='section-content'>
                        <h3 class='heading'>{{ section.settings.title }}</h3>
                        {{ section.settings.content }}
                        <a href="{{ section.settings.button_link }}" class="themeBtn mt-4">{{ section.settings.button_text }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
    {
      "name": "Cus Abou Sec",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "About Us",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "default": "<p>About Us</p>",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "button_text",
          "default": "Collections",
          "label": "Button Text"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }
    ],
    "presets": [
        {
          "name": "Cus Abou Sec"
        }
      ]
    }
    {% endschema %}