<div class="collection products cus-product-tabs">
    <div class='container'>
        <div class='row justify-content-center'>
            <div class='col-lg-10'>
                <div class='section-content text-center'>
                    <h3 class='heading'>{{ section.settings.title }}</h3>
                </div>
            </div>
        </div>
        <ul class="nav custom-tabs" id="pills-tab" role="tablist">
            
            {%- for block in section.blocks -%}
                {% assign someVar = someVar | plus: 1 %}
                
            <li>
                <a class="" id="pills-{{ someVar }}-tab" data-toggle="pill" href="#pills-{{ someVar }}" role="tab"
                    aria-controls="pills-{{ someVar }}" aria-selected="false">{{ block.settings.title | escape }}</a>
            </li>
            {%- endfor -%}
            
        </ul>
        <div class="tab-content" id="pills-tabContent">

        {%- for block in section.blocks -%}
            {% assign anotherVar = anotherVar | plus: 1 %}
            <div class="tab-pane fade" id="pills-{{ anotherVar }}" role="tabpanel" aria-labelledby="pills-{{ anotherVar }}-tab">
                <div class='row'>
                    {% assign selected_collection = block.settings.collection %}
                    {% for product in collections[selected_collection].products limit: 4 %}
                        
                    <div class='col-lg-3'>
                        <div class='products-card card-hover'>
                          {% if product.compare_at_price > product.price %}
                              {% if product.available %}
                                <span class="out-of-stock sale">Sale</span>
                              {% else %}
                                <span class="out-of-stock">SOLD OUT</span>
                              {% endif %}
                            {% elsif product.available == false %}
                              <span class="out-of-stock">SOLD OUT</span>
                          {% endif %}

                          
                            <a href="{{ product.url }}" class='products-card__img card-hover__img'>
                                <img src='{{ product.featured_image.src | img_url: 'large' }}' alt='image' class='imgFluid' loading="lazy">
                            </a>
                            <div class='products-card__content'>
                              
                                <div class="category">{% if product.type != blank %} {{ product.type }} {% else %} Product {% endif %}</div>
                                <div class="title"><a href="{{ product.url }}"> {{ product.title }}</a></div>

                              
                                {% if product.compare_at_price > product.price %}
                                  <div class="price price--on-sale">
                                    <span class="price--regular">{{ product.compare_at_price | money }}</span>
                                    <span class="price--sale">{{ product.price | money }}</span>
                                  </div>
                                {% else %}
                                  <div class="price">{{ product.price | money }}</div>
                                {% endif %}
                      
                              {% for option in product.options_with_values %}
                                {% if option.name contains 'Color' %}
                                  {% assign color_option = option %}
                                {% endif %}
                              {% endfor %}
                              {% if color_option %}
                              <div class="d-flex justify-content-center m-0 mb-3 varition-btn">
                                  {% for value in color_option.values %}
                                    <a href="javascript:void(0)" style="background-color: {{ value }};"></a>
                                  {% endfor %}
                              </div>
                              {% endif %}
                          
                                <a href="{{ product.url }}" class="add">{% if product.available == false %}View{% else %}Add{% endif %}</a>
                            </div>
                        </div>
                    </div>
                {%- endfor -%}

                    
                </div>
            </div>
        {% endfor %}
            
            
        </div>
        <a href="{{ section.settings.button_link }}" class="themeBtn themeBtn--center mt-5">{{ section.settings.button_title }}</a>
    </div>
</div>


{% schema %}
    {
      "name": "Cus Product tabs",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Collections",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "button_title",
          "default": "Collections",
          "label": "Button Title"
        },
        {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
        }
    ], 
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured-collection.settings.collection.label"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
        ]
      }
    ],
    "presets": [
        {
          "name": "Cus Product Tabs",
          "blocks": [
          {
            "type": "column"
          }, {
            "type": "column"
          }
        ]
        }
      ]
    }
    {% endschema %}

    