<div class="collection products cus-product-tabs">
    <div class='container'>
        <div class='row justify-content-center'>
            <div class='col-lg-10'>
                <div class='section-content text-center'>
                    <h3 class='heading'>{{ section.settings.title }}</h3>
                </div>
            </div>
        </div>
        <ul class="nav custom-tabs" id="pills-tab" role="tablist">
            
            {%- for block in section.blocks -%}
                {% assign someVar = someVar | plus: 1 %}
                
            <li>
                <a class="" id="pills-{{ someVar }}-tab" data-toggle="pill" href="#pills-{{ someVar }}" role="tab"
                    aria-controls="pills-{{ someVar }}" aria-selected="false">{{ block.settings.title | escape }}</a>
            </li>
            {%- endfor -%}
            
        </ul>
        <div class="tab-content" id="pills-tabContent">

        {%- for block in section.blocks -%}
            {% assign anotherVar = anotherVar | plus: 1 %}
            <div class="tab-pane fade" id="pills-{{ anotherVar }}" role="tabpanel" aria-labelledby="pills-{{ anotherVar }}-tab">
                <div class='row'>

                    {% assign selected_collection = block.settings.collection %}
                    {% for product in collections[selected_collection].products %}
                        
                    <div class='col-lg-3'>
                        <div class='products-card card-hover'>
                            <a href="product-detail.php" class='products-card__img card-hover__img'>
                                <img src='images/product-img-1.jpg' alt='image' class='imgFluid' loading="lazy">
                            </a>
                            <div class='products-card__content'>
                                <div class="category">Lorem</div>
                                <div class="title">Off White Georgette Silk Palazzo</div>
                                <div class="price">$000</div>
                                <div class="d-flex justify-content-center m-0 mb-3 varition-btn"> <a href="#"
                                        style="background-color: #FAB528;"></a> <a href="#"
                                        style="background-color: #FC043A;"></a> <a href="#"
                                        style="background-color: #223F9A;"></a> <a href="#"
                                        style="background-color: #D9D9D9;"></a> <a href="#"
                                        style="background-color: #044343;"></a> <a href="#"
                                        style="background-color: #222222;"></a> </div>
                                <a href="cart.php" class="add">Add</a>
                            </div>
                        </div>
                    </div>
                {%- endfor -%}

                    
                </div>
            </div>
        {% endfor %}
            
            
        </div>
        <a href="{{ section.settings.button_link }}" class="themeBtn themeBtn--center mt-5">{{ section.settings.button_title }}</a>
    </div>
</div>


{% schema %}
    {
      "name": "Cus Product tabs",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Collections",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "button_title",
          "default": "Collections",
          "label": "Button Title"
        },
        {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
        }
    ], 
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured-collection.settings.collection.label"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
        ]
      }
    ],
    "presets": [
        {
          "name": "Cus Product Tabs",
          "blocks": [
          {
            "type": "column"
          }, {
            "type": "column"
          }
        ]
        }
      ]
    }
    {% endschema %}

    