{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  {{ 'component-localization-form.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-info">
                    <a href="/" class="footer-info__logo">
                        <img src="{{ section.settings.footer_logo | img_url: 'master' }}" alt="image" class="imgFluid" loading="lazy">
                    </a>
                    <p>I am Susan Thomas, originally from Gujarat, India now residing in Orland Park, IL. Fashion is my passion, especially Indian outfits. I hold high values to modesty, traditional, but yet classy clothing.</p>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="footer__quickLinks">
                    <div class="title">Quick Links</div>

                    {%- if section.settings.menu_1 -%}
                        {% assign linklist = section.settings.footer_menu | linklist %}
                          {% if linklist.links.size > 0 %}
                    
                      <ul>
                        {% for link in linklist.links %}
                          <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
                        {%- endfor -%}                           
                      </ul>
                      
                    {% endif %}
                  {%- endif -%}
                      <ul>
                        <li><a href="index.php"> Home</a></li>
                        <li><a href="about-us.php"> About Us</a></li>
                        <li><a href="contact-us.php"> Contact Us</a></li>
                        <li><a href="products.php"> Products</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer__quickLinks">
                    <div class="title">Other Links</div>
                    
                    {%- if section.settings.menu_1 -%}
                        {% assign linklist = section.settings.footer_menu | linklist %}
                          {% if linklist.links.size > 0 %}
                    
                      <ul>
                        {% for link in linklist.links %}
                          <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
                        {%- endfor -%}                           
                      </ul>
                      
                    {% endif %}
                  {%- endif -%}
                
                    <ul>
                        <li><a href="privacy-policy.php">privacy Policy</a></li>
                        <li><a href="term-and-services.php">Term And Services</a></li>
                        <li><a href="refund-policy.php">Refund Policy</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer__quickLinks">
                    <div class="title">Contact Info</div>
                    {%- if section.settings.menu_2 != blank -%}
                    {%- if section.settings.menu_type_desktop == 'dropdown' -%}
                    
                      <ul>
                        {%- for link in section.settings.menu_3.links -%}
                          <li {% if link.url contains page.url %}class="active"{% endif %}>
                            <a class="" href="{{ link.url }}">{{ link.title | escape }}</a>
                          </li>
                        {%- endfor -%}                            
                      </ul>
                    
                  {%- endif -%}
                {%- endif -%}
                    <ul>
                        <li><a href="tel:31279994069"> (312) 799-94069</a></li>
                        <li><a href="mailto:sparkinstyle@gmai.com"> sparkinstyle@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <p>&copy; 2023, Spark In Style</p>
    </div>
</footer>


{% schema %}
  {
    "name": "Custom Footer",
    "tag": "section",
    "class": "footer-bar-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "footer_logo",
        "label": "Logo"
      },
      {
        "type": "richtext",
        "id": "content",
        "default": "<p>Collections</p>",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "menu_title",
        "default": "Collections",
        "label": "Menu Title"
      },
      {
        "type": "link_list",
        "id": "menu_1",
        "default": "main-menu",
        "label": "Menu 1"
      },
      {
        "type": "link_list",
        "id": "menu_2",
        "default": "main-menu",
        "label": "Menu 2"
      },
      {
        "type": "link_list",
        "id": "menu_3",
        "default": "main-menu",
        "label": "Menu 3"
      },
      {
        "type": "text",
        "id": "quick_title",
        "default": "Collections",
        "label": "Quick Title"
      },
      {
        "type": "text",
        "id": "quick_address",
        "default": "Collections",
        "label": "Address"
      },
      {
        "type": "url",
        "id": "quick_address_link",
        "label": "Address"
      },
      {
        "type": "text",
        "id": "quick_phone",
        "default": "Collections",
        "label": "Phone"
      },
      {
        "type": "text",
        "id": "quick_email",
        "default": "Collections",
        "label": "Email"
      },
      {
        "type": "text",
        "id": "subs_title",
        "default": "Collections",
        "label": "Subscriber Title"
      },
      {
        "type": "text",
        "id": "subs_content",
        "default": "Collections",
        "label": "Subscriber Content"
      },
      {
        "type": "richtext",
        "id": "copy_text",
        "default": "<p>Collections</p>",
        "label": "Copyrights"
      }
    


  ],
  "presets": [
      {
        "name": "Custom Footer"
      }
    ]
  }
  {% endschema %}